<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.shawnphoffman.kingscorecard"
        version   = "1.0.0">

    <name>Score Card</name>

    <description>
        Simple health and victory point tracking application.
    </description>

    <author href="http://shawnphoffman.com" email="shawn.p.hoffman@gmail.com">
        Shawn Hoffman
    </author>


</widget>
