
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: mediumseagreen;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    position: relative;
    height: 100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    overflow: hidden;
}

html {
    height: 100%;
}
.swiper-type-icon-star{
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: 100;
    width: 15%;
}
.swiper-type-icon-heart{
    position: absolute;
    left: 10px;
    bottom: 5px;
    z-index: 100;
    width: 15%;
}
.swiper-container {
    width: 100%;
    height: 33.4%;
    color: #fff;
    text-align: center;
}
/*.swiper-container:last-of-type{*/
    /*height:34%;*/
/*}*/
.swiper-wrapper{
    display: table;
}
.swiper-slide {
    display: table-cell;
    vertical-align: middle;
}
/*health css*/
.swiper-container-health /*.swiper-slide*/ {
    background: #ca4040;
}
.swiper-container-health .super-health {
     background: #ffffff;
     color: #ca4040;
 }
/*victory css*/
.swiper-container-victory .swiper-slide{
    background: #4390ee;
}
.swiper-container-victory .victory{
    background: #ffffff;
    color: #4390ee;
}
.swiper-slide .icon {
    font-size: .5em;
    bottom: .25em;
    position: relative;
    left: 0.1em;
}
.swiper-slide .icon-bolt {
    font-size: .65em;
    bottom: .1em;
    position: relative;
    left: -0.1em;
}
/*energy css*/
.swiper-container-energy .swiper-slide{
    background: mediumseagreen;
}
.swiper-slide .title {
    font-style: italic;
    line-height: 1em;
    font-size: 12em;
}
.pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-visible-switch {
    background: #aaa;
}
.swiper-active-switch {
    background: #fff;
}
.star-victory {
    color: gold;
}
.heart-bonus {
    color: #ca4040;
}
.heart-dead {
    display:none;
}

.symbols{
    width: 100%;
    position: fixed;
    z-index: 1;
    font-size: 5em;
    height: 2em;
    display: none;
}
.swiper-container-victory .symbols {
    color: #2A77D5;
}
.swiper-container-health .symbols {
    color: #B12727;
}
.swiper-container-energy .symbols {
    color: #239A58;
}
.sym-left {
    position: relative;
    left: 10px;
    top: 50%;
    float: left;
}

.sym-right{
    position: relative;
    top: 50%;
    right: 10px;
    float: right;
}