* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background-color:mediumseagreen;
  background-attachment:fixed;
  font-family:'HelveticaNeue-BoldItalic', 'HelveticaNeue-Bold', Helvetica, Arial, sans-serif;
  position: relative;
  height: 100%;
  margin:0px;
  padding:0px;
  text-transform:uppercase;
  width:100%;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: hidden;
}

/*All Swiper Containers*/
.swiper-container {
  width: 100%;
  height: 28.5%;
  color: #fff;
  text-align: center;
  border-bottom: 10px solid white;
}
.swiper-container:last-of-type{
  border-bottom: none;
}

/*Swiper Wrapper*/
.swiper-wrapper{
  display: table;
}

/*Swiper Slide*/
.swiper-slide {
  display: table-cell;
  vertical-align: middle;
}
.swiper-slide .title {
  line-height: .75em;
  font-size: 120px;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.75);
}
.swiper-slide .title .icon {
  font-size: .6em;
  bottom: .1em;
  position: relative;
  left: 10px;
}

/*Health Container CSS*/
.swiper-container-health /*.swiper-slide*/ {
  background: #ca4040;
}
.swiper-container-health .super-health {
  background: #ffffff;
  color: #ca4040;
}
.swiper-container-health .icon.king-skull {
  left: -10px;
  font-size: 1em;
  top: 0px;
}

/*Victory Container CSS*/
.swiper-container-victory /*.swiper-slide*/{
  background: #4390ee;
}
.swiper-container-victory .victory{
  background: #ffffff;
  color: #4390ee;
}
.swiper-container-victory .star-victory {
  color: gold;
}

/*Energy Container CSS*/
.swiper-container-energy /*.swiper-slide*/{
  background: mediumseagreen;
}
.swiper-container-energy .king-bolt {
  margin-right: 25px;
  margin-left: 5px;
}

/*Toolbar and Clear Button*/
#toolbar {
  height: 2.7em;
  text-align: center;
  width: 100%;
  color: #FFF;
  font-size: 1.4em;
  line-height: 3.3em;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.75);
  border-bottom: #FFF solid 2px;
  box-sizing: border-box;
}
#toolbar .clr {
  position: absolute;
  top: 2px;
  left: 15px;
  font-size: .75em;
}
#toolbar .clr:after {
  content:'';
  position:absolute;
  top:-10px; bottom:-10px;
  left:-10px; right:-10px;
}
#toolbar .clr:active {
  top: 3px;
  color: red;
}

/*iPad Modifications*/
@media (min-width: 760px) {
  #toolbar {
    font-size: 2.1em;
  }
}
@media (min-width: 760px) and (orientation: portrait) {
  .swiper-slide .title {
    font-size: 15em;
    text-shadow: 10px 10px 6px rgba(0,0,0,.75);
  }
}
@media (min-width: 760px) and (orientation: landscape) {
  .swiper-slide .title {
    font-size: 12em;
    text-shadow: 10px 10px 6px rgba(0,0,0,.75);
  }
}
/* < iPhone 4 Modifications*/
@media (max-height: 480px) {
  #toolbar {
    font-size: 1.2em;
  }
  .swiper-slide .title {
    font-size: 110px;
  }
}

.right, .left {
  line-height: 1em;
  margin-top: 2em;
  color: rgba(0,0,0,.15);
}

.right .icon, .left .icon {
  font-size: 35px;
}

.right {
  float: right;
  margin-right: 8px;
}

.left {
  float: left;
  margin-left: 8px;
}

span.hidden {
  visibility: hidden;
}
